* {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.border, .button {
  border-width: 3px;
}

.background {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: grid;
  grid-template-rows: repeat(9, 90px);
  grid-template-columns: repeat(16, 80px);
  grid-auto-flow: column;
}

.menu-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.menu-bar-item {
  height: 44px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu-bar-item-icon {
  height: 48px;
  width: 48px;
}
.menu-bar-clock {
  position: fixed;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 350px;
  height: 600px;
  position: fixed;
  bottom: 65px;
  left: 5px;
}
.menu-sidebar {
  width: 100%;
  height: 100%;
}
.menu-sidebar h1 {
  transform: rotate(270deg);
  transform-origin: 0 0;
  position: absolute;
  bottom: -20px;
  left: 0px;
}
.menu-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 40px;
  height: 100%;
}
.menu-content-item {
  flex-grow: 1;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.menu-content-item img {
  height: 48px;
}
.menu-content-item .arrow {
  position: absolute;
  right: 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 64px;
  height: 64px;
}

.window {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 600px;
  height: 400px;
}
.window--small {
  width: 150px;
  height: 150px;
}
.window .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: -3px;
  top: -26px;
  width: 100%;
  height: 26px;
  z-index: 5;
}
.window-bar .button {
  position: relative;
  right: 2px;
  width: 16px;
  height: 16px;
}
.window-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}
.window-content__center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.window-content__end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button__square {
  width: 100px;
  height: 100px;
}

.abstract {
  position: fixed;
}

.eye {
  position: relative;
  height: 128px;
  width: 128px;
}
.eye img {
  position: absolute;
}

.background {
  background-color: rgb(0, 140, 145);
}

.menu-bar {
  background-color: rgb(103, 103, 103);
}

.menu-sidebar {
  background: rgb(0, 180, 255);
  background: linear-gradient(0deg, rgb(0, 180, 255) 0%, rgb(166, 0, 255) 25%, rgb(255, 0, 81) 50%, rgb(166, 0, 255) 75%, rgb(0, 180, 255) 100%);
  color: white;
}
.menu-content-item {
  background-color: rgb(186, 186, 186);
}
.menu-content-item:hover {
  background-color: rgba(0, 0, 0, 0);
}

.arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

.ui, .button {
  background-color: rgb(186, 186, 186);
}

.border, .button, .border__click, .button:active, .border__invert {
  border-style: solid;
  border-top-color: rgb(210, 210, 210);
  border-left-color: rgb(210, 210, 210);
  border-bottom-color: rgb(146, 146, 146);
  border-right-color: rgb(146, 146, 146);
}
.border--top {
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
.border__invert {
  border-top-color: rgb(146, 146, 146);
  border-left-color: rgb(146, 146, 146);
  border-bottom-color: rgb(210, 210, 210);
  border-right-color: rgb(210, 210, 210);
}
.border__click, .button:active {
  border-top-color: rgb(103, 103, 103);
  border-left-color: rgb(103, 103, 103);
  border-bottom-color: rgb(210, 210, 210);
  border-right-color: rgb(210, 210, 210);
}

.button {
  color: black;
}
.window-bar {
  background: rgb(0, 180, 255);
  background: linear-gradient(270deg, rgb(0, 180, 255) 0%, rgb(166, 0, 255) 25%, rgb(255, 0, 81) 50%, rgb(166, 0, 255) 75%, rgb(0, 180, 255) 100%);
  color: white;
  border-bottom-width: 0px;
}

.sparkle {
  background: radial-gradient(circle, white 5%, transparent 80%);
}

body {
  font-family: "Inter", sans-serif;
  user-select: none;
}

.text--medium {
  font-size: 20px;
}
.text--large {
  font-size: 35px;
  font-weight: 600;
}
.text--larger {
  font-size: 60px;
}
.text--selectable {
  user-select: all;
}
.text__emoji {
  font-family: "Noto Emoji", sans-serif;
}
.text__emoji--small {
  font-weight: 700;
}
.text__pixel {
  font-family: "Silkscreen", cursive;
}

@keyframes levitate {
  from {
    left: -2px;
    top: 10px;
  }
  to {
    left: 2px;
    top: -10px;
  }
}
@keyframes waddle {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
@keyframes background-pan {
  from {
    background-position: 0% 0%;
  }
  from {
    background-position: -400% -400%;
  }
}
@keyframes falling {
  from {
    top: 0px;
    transform: rotate(0deg);
    font-size: 30px;
  }
  to {
    top: 60px;
    transform: rotate(180deg);
    font-size: 10px;
  }
}
.animation__levitate {
  position: relative;
  animation-name: levitate;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.animation__waddle {
  transition: left 1s linear;
  animation-name: waddle;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.animation__gradient {
  animation: background-pan 30s linear infinite;
  background-size: 400% 400%;
}
.animation__falling {
  position: relative;
  animation: falling 1s linear forwards;
}
