@keyframes levitate {
    from {
        left: -2px; 
        top: 10px;
    }
    to { 
        left: 2px;
        top: -10px;
    }
}

@keyframes waddle {
    from {
        transform: rotate(10deg);
    }
    to { 
        transform: rotate(-10deg);
    }
}

@keyframes background-pan {
    from {
        background-position: 0% 0%;
    }
    from {
        background-position: -400% -400%;
    }
}

@keyframes falling {
    from {
        top: 0px;
        transform: rotate(0deg);
        font-size: 30px;
    }
    to {
        top: 60px;
        transform: rotate(180deg);
        font-size: 10px;
    }
}

.animation {
    &__levitate{
        position: relative;
        animation-name: levitate;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    
    &__waddle {
        transition: left 1s linear;
        animation-name: waddle;
        animation-duration: 0.7s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    &__gradient {
        animation: background-pan 30s linear infinite;
        background-size: 400% 400%;
    }

    &__falling {
        position: relative;
        animation: falling 1s linear forwards;
    }
}