$border-width: 3px;
$small-offset: 5px;
$medium-offset: 10px;
$large-offset: 25px;
$menu-bar-height: 60px;
$window-bar-height: 26px;

* {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.border, .button {
    border-width: $border-width;
}

.background {
    width: 100%;
    height: 100%;
    padding: $large-offset;
    
    display: grid;
    grid-template-rows: repeat(9, 90px);
    grid-template-columns: repeat(16, 80px);
    grid-auto-flow: column;
}

.menu-bar {
    width: 100%;
    height: $menu-bar-height;
    position: fixed;
    bottom: 0px;
    left: 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: $small-offset;
    padding-right: $small-offset;

    &-item {
        height: $menu-bar-height - ($small-offset * 2) - ($border-width * 2);
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &-icon {
            height: 48px;
            width: 48px;
        }
    }
    
    &-clock {
       position: fixed;
       right: 0px;

       display: flex;
       justify-content: center;
       align-items: center;
    }
}

.menu {
    width: 350px;
    height: 600px;
    position: fixed;
    bottom: $menu-bar-height + $small-offset;
    left: $small-offset;

    &-sidebar {
        width: 100%;
        height: 100%;

        & h1 {
            transform: rotate(270deg);
            transform-origin: 0 0;
            position: absolute;
            bottom: -20px;
            left: 0px;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;

        position: absolute;
        bottom:0px;
        right:0px;
        left:40px;
        height:100%;

        &-item {
            flex-grow: 1;
            padding-left: 10px;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img {
                height: 48px;
            }

            .arrow {
                position: absolute;
                right: 10px;
            }
        }
    }
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 64px;
        height: 64px;
    }
}

.window {
    position: fixed;
    top: 100px;
    left: 100px;

    width: 600px;
    height: 400px;

    &--small {
        width: 150px;
        height: 150px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-bar {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-left: 5px;
        // padding-right: 2px;
        
        left: -$border-width;
        top: -$window-bar-height;

        width: 100%;
        height: $window-bar-height;

        z-index: 5;

        .button {
            position: relative;
            right: 2px;
            width: 16px;
            height: 16px;
        }
    }

    &-content {
        position: absolute;
        height: 100%;
        width: 100%;

        top: 0px;
        left: 0px;

        &__center {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        &__end {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

.button {
    &__square {
        width: 100px;
        height: 100px;
    }
}

.abstract {
    position: fixed;
}

.eye {
    position: relative;
    height: 128px;
    width: 128px;
    
    img {
        position: absolute;
    }
}