body {
    font-family: 'Inter', sans-serif;
    user-select: none;
}

.text {
    &--medium {
        font-size: 20px;
    }

    &--large {
        font-size: 35px;
        font-weight: 600;
    }

    &--larger {
        font-size: 60px;
    }

    &--selectable {
        user-select: all;
    }

    &__emoji {
        font-family: 'Noto Emoji', sans-serif;
        &--small {
            font-weight: 700;
        }
    }

    &__pixel {
        font-family: 'Silkscreen', cursive;
    }
}